@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
</style>/*@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Poppins:300,400,700");*/
body {
    background: #F7F9FC;
    color: #575F7D;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: #575F7D;
    font-size: 32px;
    font-weight: 900;
}
h2 {
    color: #7ECE90;
    font-size: 20px;
    font-weight: 500;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    color: #4083F7;
    font-weight: 600;
    font-size: 16px;
}
p {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}





